.DS_Store
*.*~
wget.log
.*
!/.gitignore

*-dia.html
*-pre.md
*-dia-compact.html
*-dia-pre-compact.md
*.css.map

style-cours-complet.css
cours-complet.html
cours-complet.pdf
cours-complet-2up.pdf

ar/*
