@charset "utf-8";

/*@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic|Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic|Ubuntu+Condensed&subset=greek-ext);*/

@import url( ../statiques/fonts/ubuntu.css );

/*@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic&subset=latin,latin-ext);*/
/*@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed&subset=latin,latin-ext);*/
/*@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic&subset=latin,latin-ext);*/


@media screen
{
	body
	{
		-webkit-box-shadow: 10px 10px 10px rgba( 120, 120, 120, 0.2 );
		-moz-box-shadow:    10px 10px 10px rgba( 120, 120, 120, 0.2 );
		box-shadow:         10px 10px 10px rgba( 120, 120, 120, 0.2 );
		border: 1px solid #EEE;
		padding: 2cm;
		margin: 50px auto 50px;
		position: relative;
	}
}

body
{
	font-family: Ubuntu;
	display: table;
	width: 17cm;
	font-size: 12pt;
	/*font-weight: 400; */ /* 400 = défaut */
	string-set: strMOOC    "EPFL — MOOC AFFICHAGES À LED"
				strPage_nb "–  " counter( page ) "  –"
				strSEPARATOR " •";
}

div#header {
	text-align: center;
}
div#header a {
	color: navy;
	text-decoration: none;
}
div#header h1 {
	background-image: url( "images/epfl_small_x2.png" );
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center 0px;
	background-attachment: scroll;
	padding: 150px 0 0;
	margin: 0;
}
div#header h2, div#header h3 {
	margin: 20px 0 ;
	padding: 0;
}

hr
{
	margin: 100px 200px 100px;
	border: 1px solid;
}

hr + h2
{
	page-break-before: always;
}

h1, h2, h3, h4, h5, h6
{
	page-break-after: avoid;
	font-weight: 500;
}

h1
{
	font-family: "Ubuntu Condensed";
	font-size: 300%;
	font-weight: 600;
	text-transform: uppercase;
	margin: 50px 0 50px;
	text-align: center;
	line-height: 150%;
	word-spacing: 0.02em;
	letter-spacing: -0.03em;
}

/*h2
{
	text-transform: uppercase;
	margin: 50px 0 50px;
	word-spacing: 0.05em;
	letter-spacing: 0.05em;
	text-align: center;
	line-height: 150%;
}*/

h2
{
	font-variant: small-caps;
	margin: 50px 0 10px;
}

h3
{
	font-variant: small-caps;
	margin: 50px 0 10px;
}

p
{
	margin: 1em 0 1em;
	line-height: 1.4em;
	text-align: justify;
	hyphens: auto;
}

ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

li
{
	margin: 0.5em 1em 0;
	padding: 0;
	text-indent: 0;
}

li:before
{
	content: "–";
	margin: 0 0 0 -1em;
	padding: 0;
	display: inline-block;
	width: 1em;
}

.footnote, sup, sub
{
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	position: relative;
	font-size: 0.65em;
}
sub { top: 0.5ex; }
.footnote, sup { bottom: 1ex; }

sup.align {
	width: 1.5em;
	display: inline-table;
	text-align: left;
}

table {
	border-collapse: collapse;
	margin: 0 auto;
}
thead tr {
	border-bottom: 2px solid;
}
th {
	font-weight: 500;
}
th, td {
	padding: 5px 10px;
	vertical-align: middle;
}
tbody tr:nth-child( odd ) {
	background-color: rgb( 240, 240, 240 );
}

div.figure
{
	page-break-inside: avoid;
	width: 100%;
	text-align: center;
	padding: 20px 0;
}
div.figure img
{
	max-width: 16cm;
}

div.figure p.caption
{
	text-align: center;
	font-style: italic;
	font-size: 90%;
}

code
{
	font-family: "Ubuntu Mono";
}
p code, table code, li code {
	font-style: italic;
}

div.sourceCode code
{
	font-size: 99%;
}


@page
{
	font-family: "Ubuntu";
	font-weight: 100;
	font-size: 12pt;
	size: A4;
	margin: 2cm 2cm 2cm;
	@top-center
	{
		content: string( strMOOC );
	}
	@bottom-center
	{
		/*content: counter( page );*/
		content: string( strPage_nb );
		font-size: 0.925em;
		word-spacing: 0;
		letter-spacing: 0;
		margin: 0 0 0.5cm;
		padding: 0;
	}
	/* Watermark */
	@bottom-left
	{
		float: left;
		margin-bottom: 0cm;
		content: "DRAFT";
		color: rgba( 0, 0, 0, 0.1 );
		font-size: 60pt;
		font-weight: 900;
	}
}
@page:blank
{
	@top-center
	{
		content: none;
	}
	@bottom-center
	{
		content: none;
	}
}
@page:first
{
	@top-center
	{
		content: none;
	}
	@bottom-center
	{
		content: none;
	}
}

@media print
{
	hr
	{
		margin: 50px 200px 50px;
		border: 0.5px solid;
	}
}


@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
{

	body
	{
		width: 95%;
		display: inline;
	}

	body *
	{
		font-size: 50px;
		padding-left: 50px;
		padding-right: 50px;
	}

	h1
	{
		font-size: 200%;
	}

	p
	{
		margin: 0;
		text-align: left;
	}

	div.figure
	{
		margin: 100px 0;
	}

	div.figure img
	{
		max-width: 100%;
		min-width: 50%;
	}

	ul
	{
		margin-left: 10px;
	}
}

.bleu {
	color: blue;
}
.rouge {
	color: red;
}
.vert {
	color: green;
}
.gris {
	color: grey;
}